@import url(https://fonts.googleapis.com/css?family=Oswald:300&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Lato&subset=latin-ext,latin);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,900&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,900&subset=latin-ext);
body {
  background-color: #454343;
  color: #2C2B2B;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  float: none;
  margin: 0 auto;
  text-align: left; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden; }

.contain h2 {
  text-align: left; }

.contain h2, .contain h3 {
  padding-bottom: 10px;
  margin-left: 10px; }

.contain p {
  padding-bottom: 10px;
  margin-left: 10px;
  font-size: 20px; }

.row {
  margin-right: 0;
    margin-right-margin-left: 0; }

.jumbotron, #about, #about1, #skills, #contact {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(img/jumbo.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  background-color: #454343;
  padding-top: 0;
  padding-bottom: 50px; }
  .jumbotron .navbar, #about .navbar, #about1 .navbar, #skills .navbar, #contact .navbar {
    background-color: transparent;
    height: 70px;
    padding: 1%;
    border: 0;
    transition: 1s; }
    .jumbotron .navbar img, #about .navbar img, #about1 .navbar img, #skills .navbar img, #contact .navbar img {
      margin-right: 5px;
      width: 48px;
      height: 48px;
      float: left; }
    .jumbotron .navbar .navbar-brand, #about .navbar .navbar-brand, #about1 .navbar .navbar-brand, #skills .navbar .navbar-brand, #contact .navbar .navbar-brand, .jumbotron .navbar ul.navbar-right, #about .navbar ul.navbar-right, #about1 .navbar ul.navbar-right, #skills .navbar ul.navbar-right, #contact .navbar ul.navbar-right {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      line-height: 20px;
      padding: 5px 20px; }
    .jumbotron .navbar ul.navbar-right, #about .navbar ul.navbar-right, #about1 .navbar ul.navbar-right, #skills .navbar ul.navbar-right, #contact .navbar ul.navbar-right {
      margin: 7px;
      padding: 0;
      font-weight: normal;
      line-height: 26px; }
      .jumbotron .navbar ul.navbar-right li, #about .navbar ul.navbar-right li, #about1 .navbar ul.navbar-right li, #skills .navbar ul.navbar-right li, #contact .navbar ul.navbar-right li {
        height: 35px;
        border-top-color: rgba(255, 248, 255, 0);
        border-bottom-color: rgba(255, 248, 255, 0);
        transition: 5s; }
        .jumbotron .navbar ul.navbar-right li:hover, #about .navbar ul.navbar-right li:hover, #about1 .navbar ul.navbar-right li:hover, #skills .navbar ul.navbar-right li:hover, #contact .navbar ul.navbar-right li:hover {
          border-top: 1px solid #FFF;
          border-bottom: 1px solid #FFF;
          transition: 2s; }
        .jumbotron .navbar ul.navbar-right li a, #about .navbar ul.navbar-right li a, #about1 .navbar ul.navbar-right li a, #skills .navbar ul.navbar-right li a, #contact .navbar ul.navbar-right li a {
          height: 35px;
          padding-top: 5px;
          color: #fff;
          transition: 2s; }
          .jumbotron .navbar ul.navbar-right li a:hover, #about .navbar ul.navbar-right li a:hover, #about1 .navbar ul.navbar-right li a:hover, #skills .navbar ul.navbar-right li a:hover, #contact .navbar ul.navbar-right li a:hover {
            background-color: rgba(255, 248, 255, 0.4); }
        .jumbotron .navbar ul.navbar-right li ul, #about .navbar ul.navbar-right li ul, #about1 .navbar ul.navbar-right li ul, #skills .navbar ul.navbar-right li ul, #contact .navbar ul.navbar-right li ul {
          background-color: rgba(255, 248, 255, 0.2);
          min-width: 140px;
          margin-top: 12px; }
          .jumbotron .navbar ul.navbar-right li ul li, #about .navbar ul.navbar-right li ul li, #about1 .navbar ul.navbar-right li ul li, #skills .navbar ul.navbar-right li ul li, #contact .navbar ul.navbar-right li ul li {
            height: 30px; }
            .jumbotron .navbar ul.navbar-right li ul li:hover, #about .navbar ul.navbar-right li ul li:hover, #about1 .navbar ul.navbar-right li ul li:hover, #skills .navbar ul.navbar-right li ul li:hover, #contact .navbar ul.navbar-right li ul li:hover {
              border-top: 0;
              border-bottom: 0; }
            .jumbotron .navbar ul.navbar-right li ul li a, #about .navbar ul.navbar-right li ul li a, #about1 .navbar ul.navbar-right li ul li a, #skills .navbar ul.navbar-right li ul li a, #contact .navbar ul.navbar-right li ul li a {
              height: 30px;
              padding-top: 5px;
              color: #fff; }
              .jumbotron .navbar ul.navbar-right li ul li a:hover, #about .navbar ul.navbar-right li ul li a:hover, #about1 .navbar ul.navbar-right li ul li a:hover, #skills .navbar ul.navbar-right li ul li a:hover, #contact .navbar ul.navbar-right li ul li a:hover {
                background-color: rgba(0, 0, 0, 0.1); }
              .jumbotron .navbar ul.navbar-right li ul li a img, #about .navbar ul.navbar-right li ul li a img, #about1 .navbar ul.navbar-right li ul li a img, #skills .navbar ul.navbar-right li ul li a img, #contact .navbar ul.navbar-right li ul li a img {
                line-height: 30px;
                height: 20px;
                width: 25px;
                padding-top: 2px;
                border-radius: 50%; }
  .jumbotron .navbar-inverse .navbar-nav > .open > a, #about .navbar-inverse .navbar-nav > .open > a, #about1 .navbar-inverse .navbar-nav > .open > a, #skills .navbar-inverse .navbar-nav > .open > a, #contact .navbar-inverse .navbar-nav > .open > a,
  .jumbotron .navbar-inverse .navbar-nav > .open > a:focus, #about .navbar-inverse .navbar-nav > .open > a:focus, #about1 .navbar-inverse .navbar-nav > .open > a:focus, #skills .navbar-inverse .navbar-nav > .open > a:focus, #contact .navbar-inverse .navbar-nav > .open > a:focus,
  .jumbotron .navbar-inverse .navbar-nav > .open > a:hover, #about .navbar-inverse .navbar-nav > .open > a:hover, #about1 .navbar-inverse .navbar-nav > .open > a:hover, #skills .navbar-inverse .navbar-nav > .open > a:hover, #contact .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: transparent; }
  .jumbotron .slogan, #about .slogan, #about1 .slogan, #skills .slogan, #contact .slogan {
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    height: auto;
    margin: 22% 25%;
    color: rgba(255, 255, 255, 0.6);
    font-size: large;
    font-weight: 900;
    text-align: center; }
    .jumbotron .slogan h1, #about .slogan h1, #about1 .slogan h1, #skills .slogan h1, #contact .slogan h1 {
      display: block;
      font-weight: 800 !important;
      text-transform: uppercase; }
      .jumbotron .slogan h1 small, #about .slogan h1 small, #about1 .slogan h1 small, #skills .slogan h1 small, #contact .slogan h1 small {
        display: block;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.6);
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 20px; }
    .jumbotron .slogan h4, #about .slogan h4, #about1 .slogan h4, #skills .slogan h4, #contact .slogan h4 {
      display: block;
      text-transform: uppercase;
      margin-bottom: 20px; }

#about {
  background-image: url(img/tlo.jpg);
  padding-bottom: 0;
  padding: 10% 0;
  padding-bottom: 50px; }
  #about h2 {
    display: block;
    font-weight: 800 !important;
    text-transform: uppercase;
    font-size: 50px;
    color: #fff;
    text-shadow: 2px 0px 2px black, 0px 0px 10px white, 0 0 5px darkblue; }
  #about img {
    margin: 0 auto;
    margin-top: 20px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.75); }
  #about .diva1 {
    -webkit-box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.75); }
  #about p {
    color: #fff;
    border-radius: 15px;
    font-size: 16px;
    line-height: 30px;
    padding: 10px; }
  #about a {
    cursor: help;
    color: #fff; }

.hidden {
  visability: hidden; }

#about1 {
  background-image: url(img/tlo.jpg); }
  #about1 .card {
    padding: 1vw;
    margin: 75px auto;
    background: #000;
    border-radius: 10px;
    width: 400px;
    height: auto;
    -webkit-box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.75); }
    #about1 .card header {
      display: block;
      text-align: center;
      margin-bottom: 20px; }
      #about1 .card header img {
        margin: 0 auto;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 3px solid #0A3250; }
      #about1 .card header p {
        color: #fff; }
        #about1 .card header p i {
          color: #444;
          font-size: 20px; }
    #about1 .card article ul.list {
      color: #eee;
      list-style: none;
      padding-left: 0px; }
      #about1 .card article ul.list li:nth-child(odd) {
        background-color: #13171d; }
      #about1 .card article ul.list li > i {
        margin-right: 15px; }
    #about1 .card article .list > li {
      padding: 15px 0px 15px 40px;
      font-size: 16px;
      font-weight: lighter; }
    #about1 .card article .list > li:hover {
      color: white;
      box-shadow: 1px 1px 10px 1px #50e6df inset;
      transition: padding-left 0.2s linear;
      padding-left: 60px; }
    #about1 .card article button {
      margin: 5% 30%;
      background: transparent; }
      #about1 .card article button:hover {
        background: transparent;
        box-shadow: 1px 1px 7px 1px #50e6df inset; }

#skills {
  background-image: none;
  background-color: #ecf0f1;
  padding-bottom: 0;
  padding: 5% 0; }
  #skills ul {
    list-style: none;
    padding: 0; }
  #skills .row {
    margin: 0 auto;
    padding: 20px 0; }
  #skills .inner {
    border: solid 1px;
    border-radius: 5px;
    margin: 10px 25px;
    width: 250px;
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    transition: all .2s ease-in-out; }
    #skills .inner:hover {
      transform: scale(1.1);
      transition: 0.5s;
      overflow: hidden; }
      #skills .inner:hover .fa-check {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); }
      #skills .inner:hover .fa-spinner {
        -ms-transform: rotate(3600deg);
        -webkit-transform: rotate(3600deg);
        transform: rotate(3600deg);
        transition: 5s; }
      #skills .inner:hover .fa-forward {
        transform: translate(200px, 0);
        transition: 2s; }
  #skills .draw {
    transition: color 0.25s; }
    #skills .draw:before, #skills .draw:after {
      border: 2px solid transparent;
      width: 0;
      height: 0; }
    #skills .draw::before {
      top: 0;
      left: 0; }
    #skills .draw::after {
      bottom: 0;
      right: 0; }
    #skills .draw:hover {
      color: #000; }
    #skills .draw:hover::before, #skills .draw:hover::after {
      width: 100%;
      height: 100%; }
    #skills .draw:hover::before {
      border-top-color: #000;
      border-right-color: #000;
      transition: width 0.25s ease-out, height 0.25s ease-out 0.25s; }
    #skills .draw:hover::after {
      border-bottom-color: #000;
      border-left-color: #000;
      transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s; }
  #skills .fa-check {
    color: #27ae60;
    transition: all .2s ease-in-out; }
  #skills .fa-forward {
    color: #8e44ad;
    transition: 1s; }
  #skills .fa-spinner {
    color: #d35400; }
  #skills .head {
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    border-bottom: solid 1px;
    border-radius: 5px 5px 0 0; }
  #skills .know .head {
    background-color: #27ae60; }
  #skills .prog .head {
    background-color: #d35400; }
  #skills .want .head {
    background-color: #8e44ad; }
  #skills ul {
    width: 200px;
    margin: 0 auto; }
    #skills ul li {
      width: 200px;
      margin: 10px;
      text-align: left; }
  #skills .prog div:nth-child(even) {
    margin: 10vh auto; }

.portfolio {
  background-color: #95a5a6;
  text-align: center;
  text-align: left; }
  .portfolio h2 {
    text-align: left; }
  .portfolio .row {
    padding-bottom: 0; }
    .portfolio .row div .p0 {
      background: url(project/0/photo.png) 0/cover no-repeat; }
    .portfolio .row div .p1, .portfolio .row div .service-price .p2, .service-price .portfolio .row div .p2 {
      background: url(project/1/photo.png) 0/cover no-repeat; }
    .portfolio .row div .p2 {
      background: url(project/2/photo.png) 0/cover no-repeat; }
    .portfolio .row div .p3 {
      background: url(project/3/photo.png) 0/cover no-repeat; }
    .portfolio .row div .p4 {
      background: url(project/4/photo.png) 0/cover no-repeat; }
    .portfolio .row div .p5 {
      background: url(project/5/photo.png) 0/cover no-repeat; }
    .portfolio .row div .p6 {
      background: url(project/6/photo.png) 0/cover no-repeat; }
    .portfolio .row div .p7 {
      background: url(project/7/photo.png) 0/cover no-repeat; }
    .portfolio .row div .p8 {
      background: url(project/8/photo.png) 0/cover no-repeat; }
    .portfolio .row div .p9 {
      background: url(project/9/photo.png) 0/cover no-repeat; }
    .portfolio .row div .photo {
      padding: 0;
      cursor: pointer;
      display: inline-block;
      position: relative;
      height: 350px;
      width: 100%;
      margin: 15px 15px 15px 0; }
      .portfolio .row div .photo:hover .layer {
        opacity: 1;
        cursor: pointer; }
      .portfolio .row div .photo p {
        color: #2C2B2B;
        font-weight: bold;
        border-radius: 15px;
        position: absolute;
        bottom: 5px;
        width: 95%;
        margin-left: 0;
        margin: 3%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: rgba(255, 248, 255, 0.7);
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.1em; }
      .portfolio .row div .photo .layer {
        top: 0;
        position: absolute;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 350px;
        width: 100%;
        background-color: rgba(50, 50, 50, 0.6);
        opacity: 0;
        transition: 1s; }
        .portfolio .row div .photo .layer i[class*="fa"], .portfolio .row div .photo .layer i[class*="fa"]:hover {
          font-size: 50px;
          width: 60px;
          height: 60px;
          padding: 5px;
          background-color: rgba(255, 255, 255, 0.7);
          border-radius: 15%;
          color: #2D2F2E;
          margin: 10px; }
          .portfolio .row div .photo .layer i[class*="fa"]:hover, .portfolio .row div .photo .layer i[class*="fa"]:hover:hover {
            background-color: #fff; }
  .portfolio .left {
    background: #13171d;
    padding-top: 40px; }
    .portfolio .left button {
      display: block;
      border-radius: 50%;
      border: none;
      background-color: #2C2B2B;
      color: #13171d;
      font-size: 30px;
      margin: 30px auto;
      width: 60px;
      height: 60px;
      -webkit-box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
      transition: 0.5s; }
      .portfolio .left button:hover {
        transform: scale(1.2);
        transition: 0.5s; }

#contact {
  background-image: url(img/tlo.jpg);
  padding-bottom: 0;
  min-height: 100vh;
  padding: 5% 0; }
  #contact h2 {
    padding: 0 0.9vw;
    display: block;
    font-weight: 800 !important;
    text-transform: uppercase;
    font-size: 50px;
    color: #fff; }
  #contact .container {
    max-width: 370px;
    height: auto; }

footer {
  text-align: center;
  width: 100%;
  height: auto;
  display: block;
  border-width: 5px 0 0 0;
  border-color: #fff;
  border-style: solid;
  color: #fff;
  padding: 20px 0;
  line-height: 50px; }
  footer .icon-btn {
    align-items: center;
    justify-content: center;
    float: none;
    height: 50px;
    width: 50px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    font-size: 30px;
    line-height: 40px;
    border-radius: 40px;
    margin: 0 5px;
    vertical-align: middle;
    transition: 0.5s; }
    footer .icon-btn:hover {
      transform: scale(1.2);
      color: #FFFFFF;
      transition: 0.4s; }
  footer .linkedin {
    color: #4099FF; }
    footer .linkedin:hover {
      background: #4099FF;
      color: #FFFFFF; }
  footer .github {
    color: #4183C4; }
    footer .github:hover {
      background: #4183C4;
      color: #FFFFFF; }

.service-jumbo button {
  text-transform: uppercase;
  font-size: 24px;
  margin: 10px; }

.service-jumbo .btn-primary {
  color: #2C2B2B !important;
  background-color: transparent !important;
  border: 2px solid #2C2B2B !important;
  transition: 0.5s; }
  .service-jumbo .btn-primary:hover {
    color: #fff !important;
    background-color: #2C2B2B !important;
    border-color: #2C2B2B !important;
    transition: 0.5s; }

.service-about {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(https://images.pexels.com/photos/90807/pexels-photo-90807.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  background-size: cover;
  background-position: center;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  padding-top: 10vh; }
  .service-about div {
    margin: 30px 0; }
  .service-about h2, .service-about h3 {
    text-align: center;
    font-size: 60px;
    color: #fff; }

.service {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(https://images.pexels.com/photos/40120/pexels-photo-40120.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  background-size: cover;
  background-position: center;
  margin: 0 auto; }
  .service div {
    margin: 30px 0; }
  .service h2 {
    text-align: center;
    font-size: 40px; }
  .service .column {
    margin: 15px; }
    .service .column .column-head {
      margin: 0 auto;
      text-align: center; }
      .service .column .column-head .fa {
        text-align: center;
        margin: 0 auto;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: rgba(52, 73, 94, 0.6);
        float: none;
        border: 0;
        color: #ffffff;
        cursor: pointer;
        font-size: 80px;
        line-height: 150px;
        vertical-align: middle;
        align-items: center;
        justify-content: center; }
    .service .column .pack {
      cursor: pointer;
      margin: 0 auto;
      border-radius: 15px;
      border: 1px dashed #2C2B2B !important;
      background-color: rgba(255, 255, 255, 0.4);
      padding: 5px;
      margin-top: 20px;
      width: 80%;
      text-align: center; }
      .service .column .pack h3 {
        text-align: center;
        font-size: 40px; }
        .service .column .pack h3 a {
          text-decoration: none;
          color: #2C2B2B; }
          .service .column .pack h3 a:hover {
            color: #2C2B2B; }
      .service .column .pack p {
        margin: 0 auto;
        width: 80%;
        font-size: 16px; }

.service-price {
  background-color: #fff;
  color: #fff;
  min-height: 750px; }
  .service-price .panel-group {
    width: 80%;
    margin: 20px auto; }
    .service-price .panel-group a {
      text-decoration: none;
      color: #2C2B2B; }
  .service-price .plan {
    max-width: 300px;
    padding: 0;
    text-align: center;
    margin: 5px 15px; }
    .service-price .plan .plan-header {
      padding: 10px; }
    .service-price .plan .standard {
      background-color: rgba(149, 165, 166, 0.7); }
    .service-price .plan .extra {
      background-color: #E7AC44; }
    .service-price .plan .premium {
      background-color: #27B399; }
    .service-price .plan .plan-price {
      background-color: rgba(44, 48, 52, 0.7);
      padding: 10px;
      font-weight: bold; }
      .service-price .plan .plan-price span {
        display: inline-block;
        margin-top: 9px;
        vertical-align: top;
        font-size: 20px; }
    .service-price .plan .plan-option {
      border: 1px solid grey; }
      .service-price .plan .plan-option p {
        color: #000;
        padding: 5px;
        border-bottom: 1px dashed grey; }
      .service-price .plan .plan-option input {
        margin: 5px;
        text-align: center;
        margin: 5px auto; }
  .service-price h3, .service-price p {
    text-align: center; }
  .service-price h2 {
    font-size: 50px; }
  .service-price h2.title {
    color: #000;
    font-size: 30px; }
  .service-price .p1, .service-price .p2 {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background: #fff;
    background-size: cover;
    background-position: center;
    border: 1px solid silver; }
    .service-price .p1:hover, .service-price .p2:hover {
      border: 2px solid silver; }
    .service-price .p1 .p_img, .service-price .p2 .p_img {
      width: 100%;
      height: 100%; }
      .service-price .p1 .p_img .price_sign, .service-price .p2 .p_img .price_sign {
        position: absolute;
        top: 0;
        left: 150px;
        display: block;
        text-align: center;
        background: url(img/price_bg.png) 0 0px no-repeat;
        width: 42px;
        height: 41px;
        color: #fff;
        font: bold 18px/37px "Comfortaa", Arial, Helvetica, sans-serif; }
      .service-price .p1 .p_img img, .service-price .p2 .p_img img {
        width: 0;
        height: 0; }
  .service-price .p2 {
    background: #fff; }
  .service-price .shop {
    margin-bottom: 50px; }

.simpleCart_items img {
  max-width: 64px;
  max-height: 64px; }

.item-quantity, .item-decrement, .item-increment {
  text-align: center; }

@media only screen and (max-width: 992px) {
  .slogan {
    margin: 25% 15vw !important; } }

@media only screen and (max-width: 767px) {
  ul.navbar-right {
    background-color: rgba(0, 0, 0, 0.7); }
    ul.navbar-right li ul.dropdown-menu {
      background-color: rgba(0, 0, 0, 0.7) !important; } }

/*# sourceMappingURL=style.css.map */