@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
body {
  background-color: #fff;
  color: #000;
  font-family: "Comfortaa", sans-serif;
  letter-spacing: 1px;
  float: none;
  margin: 0 auto;
  text-align: left; }

h2 {
  font-family: "Pacifico", sans-serif;
  font-size: 40px; }

.container {
  padding-top: 85px;
  padding-bottom: 50px;
  max-width: 1200px;
  margin: 0 auto; }

.container-fluid, div .container-fluid {
  margin-right: 0;
  margin-left: 0;
  padding-right: 15px !important;
  padding-left: 15px !important; }

.navbar {
  height: 80px;
  background-color: #000;
    background-color-border-color: #000; }
  .navbar div {
    padding-top: 5px;
    padding-bottom: 0; }

.navbar-header img {
  width: 80px;
  height: 80px;
  margin-top: -10px;
  margin-left: 10px; }

.navbar-collapse ul li a {
  color: #fff !important;
  font-size: 14px; }

.navbar-collapse ul li:hover a {
  color: #f7bc00 !important; }

.navbar-collapse i {
  color: #fff; }

.navbar-collapse .navbar-center {
  margin-left: 20vw; }

.slider {
  margin-top: 80px;
  padding: 50px 0;
  background-image: url(img/bg1.png);
  background-size: cover;
  background-position: center; }
  .slider .carousel {
    max-height: 400px;
    max-width: 940px;
    margin: 0 auto; }
  .slider img[class*="example"] {
    height: 400px;
    width: 940px;
    background-size: cover;
    display: block;
    margin: 0 auto; }
  .slider [class*="example"] {
    min-height: 400px; }
  .slider .example-1 {
    background: url(http://placehold.it/940x400);
    background-size: cover; }
  .slider .example-2 {
    background: url(http://placehold.it/940x400);
    background-size: cover; }
  .slider .example-3 {
    background: url(http://placehold.it/940x400);
    background-size: cover; }
  .slider .example-4 {
    background: url(http://placehold.it/940x400);
    background-size: cover; }

.img1 {
  float: left;
  margin-right: 13px;
  margin-top: -10px; }

.news .fa {
  display: block;
  text-align: center;
  font-size: 80px;
  color: #f7bc00; }

.news h3 {
  text-align: center; }
  .news h3 a {
    text-decoration: none;
    color: #000; }
    .news h3 a:hover {
      color: #f7bc00; }

.join {
  background: #f7bc00;
  text-align: center; }
  .join a {
    text-decoration: none; }

.products h3, .products p {
  text-align: center; }

.products .p1 {
  margin: 0 auto;
  width: 350px;
  height: 350px;
  background: url(http://placehold.it/350x350);
  border: 1px solid #000; }
  .products .p1:hover {
    border: 1px solid #f7bc00; }
  .products .p1 .p_img {
    width: 100%;
    height: 100%; }
    .products .p1 .p_img .price_sign {
      position: absolute;
      top: 0;
      left: 350px;
      display: block;
      text-align: center;
      background: url(img/price_bg.png) 0 0px no-repeat;
      width: 42px;
      height: 41px;
      color: #fff;
      font: bold 18px/37px "Comfortaa", Arial, Helvetica, sans-serif; }

.products .shop {
  margin-bottom: 50px; }

.products a {
  text-decoration: none;
  color: #000; }
  .products a:hover {
    color: #f7bc00; }

.products input.form-control {
  color: #61656d;
    color-border-color: #e18408;
    color-text-align: center; }
  .products input.form-control:focus {
    color: #61656d;
    border-color: #e18408; }

.about {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(img/bg_pattern_2.png);
  color: #fff; }
  .about p {
    font-size: 14px  !important; }
  .about .num p {
    font-family: "Pacifico", sans-serif !important;
    font-size: 40px  !important;
    top: 0; }
  .about .img {
    text-align: center;
    padding-top: 30px; }
  .about .txt {
    padding-top: 50px; }

.join_us h3, .join_us p {
  text-align: center; }

.join_us .btn {
  align-items: center;
  justify-content: center;
  float: none;
  height: 100px;
  width: 100px;
  border: 0;
  cursor: pointer;
  font-size: 60px;
  line-height: 80px;
  border-radius: 80px;
  margin: 0 5px;
  vertical-align: middle;
  transition: 0.5s; }
  .join_us .btn:hover {
    transform: scale(1.2);
    color: #FFFFFF;
    background-color: #3C7FEB;
    border-radius: 50%;
    transition: 0.4s; }

.contact {
  background: #f7bc00; }
  .contact h2 {
    margin-bottom: 50px; }
  .contact .contain {
    margin: 0 auto;
    max-width: 370px;
    height: 360px; }
  .contact iframe {
    width: 100% !important;
    height: 300px !important; }

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 50px 0; }
  footer p {
    font-size: 14px; }
    footer p .lynk, footer p .lynk:hover {
      text-decoration: none;
      color: #fff; }
      footer p .lynk img, footer p .lynk:hover img {
        height: 20px;
        width: auto; }
    footer p a {
      cursor: pointer;
      text-decoration: none;
      color: #fff; }
  footer .cookies {
    padding-top: 50px; }

.modal-dialog {
  width: 80%; }

/*# sourceMappingURL=style.css.map */