            
            fieldset {display:block;}
            ol,ul{list-style:none;}
            blockquote,q{quotes:none;}
            blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
            table{border-collapse:collapse;border-spacing:0;}
            a{text-decoration:none;}
            input:focus,input:active{outline:none; display: block;}
            input:nth-of-type(3), input:nth-of-type(4) {display: inline}
            textarea:focus,textarea:active{outline:none;  display: block;}
            .cf:before,.cf:after{content:" ";display:table;}
            .cf:after{clear:both;}
            .ir{border:0;font:0/0 a;text-shadow:none;color:red;background-color:transparent;}
            .ht{position:absolute;top:-10000px;left:-10000px;}
            .form-success{background-color:#6cbf40;padding:10px;font-size:15px;color:#000;line-height:1.4em;}
            #contactform{margin-bottom: 30px;}
            #contactform .form-error{background-color:#ff6600;padding:10px;font-size:15px;color:#ffffff;margin-bottom:15px;line-height:1.4em;}
            #contactform fieldset{width:100%;}
            #contactform fieldset label{display:block;font-size:15px;color:#46494f;margin-bottom:12px;}
            #contactform fieldset input[type=text],
            #contactform fieldset input[type=email]{color:#000; font-size:18px;border:1px solid #000;box-shadow:0px 1px 3px rgba(0, 0, 0, 0.1);padding:9px 14px;width:460px;max-width:100%;box-sizing:border-box;-moz-box-sizing:border-box;height:40px;margin-bottom:10px; background-color: transparent;}
            #contactform fieldset input[type=text]:hover,#contactform fieldset input[type=email]:hover{color:#0E0E0F;border-color:#acb4bd;}
            #contactform fieldset input[type=text]:focus,#contactform fieldset input[type=email]:focus{color:#0E0E0F;border-color:#e18408;}
            #contactform fieldset textarea{color:#000;font-size:18px;border:1px solid #000;box-shadow:0px 1px 3px rgba(0, 0, 0, 0.1);padding:9px 14px;width:460px;max-width:100%;box-sizing:border-box;-moz-box-sizing:border-box;height:160px;margin-bottom:10px;resize:none; background-color: transparent;}
            #contactform fieldset textarea:hover{color:#0E0E0F;border-color:#acb4bd;}
            #contactform fieldset textarea:focus{color:#0E0E0F;border-color:#e18408;}
            #contactform fieldset .form-field-error{color:#ff6600;font-style:italic;font-size:12px;margin-bottom:15px;margin-top:-5px;line-height:1.3em;}
            #contactform fieldset input[type=submit]{background:#e18408;background:-webkit-linear-gradient(top, #e18408 0%, #e18408 100%);background:linear-gradient(to bottom, #e18408 0%, #e18408 100%);border:none;font-size:14px;font-family:Lato,sans-serif;  font-weight: bold;color:#000;cursor:pointer;padding:9px 14px;box-sizing:border-box;-moz-box-sizing:border-box;}
            #contactform fieldset input[type=submit]:hover{background:#e18408;background:-webkit-linear-gradient(top, #e18408 0%, #e18408 100%);background:linear-gradient(to bottom, #e18408 0%, #e18408 100%);}
            #contactform fieldset input[type=submit]:active{background:#053565;background:-webkit-linear-gradient(top, #053565 0%, #e18408 100%);background:linear-gradient(to bottom, #e18408 0%, #e18408 100%);}
            #contactform fieldset input[type=hidden]{display:none;}

           
            }
/*            #contactform fieldset {
                display: block;
            }*/
            #contactform fieldset input[name=contact_check] {
                width: 45px;
                text-align: center;
                vertical-align: 2px;
/*                display: block;*/
            }

            #contactform fieldset input[type=submit] {
                float: right;
                display: block;
            }