
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
body{
	background-color: #C8E4E8;
	margin: 0 auto;
}
.siteWidth {
  float: none;
  max-width: 1200px;
  margin: 0 auto;
}
.dropdown-menu{
	background-color: #222222;
}
.dropdown-menu li a, .dropdown-menu li:hover a {
	color: #ffffff;
}
.dropdown-menu li:hover a{
	background-color: #080808;
}
nav span{
	font-size: 30px;
	letter-spacing: 0.1em;
	text-decoration: underline overline ;
	text-transform: uppercase;	
}
.jumbotron  {
	background: url("https://static.pexels.com/photos/29044/pexels-photo-medium.jpg");
	background-size: cover;
	height: calc(100vh - 50px);
	width: 100%;
	background-color: #3498db;	
	margin-bottom: 10px;
	
}
.slogan {
	margin: 10vh auto;
	background-color: rgba(0, 0, 0, 0.5);
	max-width: 800px;
	text-transform: uppercase;
	color: #fff;
	padding: 5% 10% 2% 10%;
	border-radius: 0 0 50% 50%;
	text-shadow: 1px 1px #ccc;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.slogan h1{
	font-size: 74px;
	letter-spacing: 0.1em;
	margin: 5px;
}
.slogan span{
	text-decoration: underline overline ;	
}
.slogan small {
	display: block;
	color: #fff;	
}
.slogan button{
	font-size: 24px;
	margin: 10px;
}
.gallery{
    background-size: cover;
    margin-bottom: 10px;
     padding: 50px 0;
    overflow: hidden;
    }

.gallery img {
    cursor: pointer;
    width: 100%;
	display: block;
}
.gallery .caption {
    padding: 10px 0px 30px;
    text-align: center;
}
.header{
	padding: 0 0 30px;
	text-align: center;
	width: 100%;
}
.table{
	background-color: #ffffff;
	text-align: center;
	width: 98%;
	margin: 0 auto;
	padding: 0 0 30px;
}
.table th{
	text-align: center;
}
.badge{
	background-color:  #222;
}

label, #InputFile{ /*.form*/
	color: #ffffff;
}
.gallery .thumbnail{
	height: 566px;
}
.gallery .thumbnail h3{
	height: 52px;
}
.thumbnail{
	margin: 10px;
}

.article .media-inner{
	border: 1px solid #CCC;
	border-radius: 2%;
	padding: 10px;
}
.article .media img{
	margin-right: 5px;
	width: 64px;
	height: 64px;
}
.article label{
	color: #000;
}
.image {
  float: left;
  margin: 5px;
}
.-content{
margin-left: 10px;	
  padding: 0 70px 0;
}
.-comment{
  margin-bottom: 5px;
  overflow: hidden;
}
.-sub{
  padding: 5px 0 0 2%;
}
.-subsub{
  padding: 10px 0 0 4%;
}
.copy {
	background-color: #252726;
	color: white;
	padding-top: 10px;
	text-align: center;
	height: 50px;
}
